@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

@keyframes line {
    0% {
        border-width: 0;
        transform: scale(1);
        transform: rotate(0);
    }

    25% {
        border-width: 250px;
        transform: scale(1.50);
        transform: rotate(150deg);
    }

    50% {
        border-width: 500px;
        transform: scale(1.75);
        transform: rotate(250deg);
    }

    75% {
        border-width: 750px;
        transform: scale(2);
        transform: rotate(-150deg);
    }

    100% {
        border-width: 1000px;
        transform: rotate(0);
        transform: scale(2);
    }
}

@keyframes rotate {
    from {
        transform: rotate(1deg);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #80ced7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    transition-delay: 2s;
}

#line {
    height: 500px;
    width: 500px;
    animation: line 3s;
    border: solid #003249;
    border-radius: 50%;
}

.preloader-finish {
    opacity: 0;
    pointer-events: none;
}

.light-mode {
    background: #f1faee;
    transition: all 1s ease;
    color: black !important; 
}

.dark-mode {
    background: #000;
    transition: all 1s ease;
    color: white !important;
}
.scrollarrow{
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all 0.5s ease;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-wrap: wrap;
}

header>img {
    width: 150px;
}

button {
    border: none;
}

.btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    background-color: #003249;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    border: none;
}

.btn:hover {
    background-color: #9AD1D4;
    box-shadow: #000 0 1px 13px;
    cursor: pointer;
}

.animation:hover {
    animation: rotate 2s ease-in-out;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.tittle {
    color: #000;
    font-size: 3rem;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}

#row{
    background: #003249;
    height: 5px;
    width: 370px;
    border-radius: 5px;
}
#row-sub{
    background: #003249;
    height: 5px;
    width: 320px;
    border-radius: 5px;
}

.sub-tittle{
    color: #000;
    font-size: 5rem;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}


@media screen and (max-width:768px){
   
}
@media screen and (max-width:465px){
    .container{
        height: 100vh;
    }
   
}